// 
// Copyright 2021 Vector Creations Ltd
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

// Team
DEVELOPMENT_TEAM = NVMQD635C6

// Provisioning profiles
TCHAP_PROVISIONING_PROFILE_SPECIFIER = Tchap App Store
TCHAP_PROVISIONING_PROFILE = 3e2623b9-0c4b-4fde-aef8-6a67063ceb7e // to verify

NSE_PROVISIONING_PROFILE_SPECIFIER = "Tchap NSE: App Store"
NSE_PROVISIONING_PROFILE = 3419a4a5-6104-45c8-a5a5-275647c1fdf6 // to verify

SHARE_EXTENSION_PROVISIONING_PROFILE_SPECIFIER = "Tchap Share Extension: App Store"
SHARE_EXTENSION_PROVISIONING_PROFILE = 6b7e6b2b-5634-440e-8582-4dcce5867dd1 // to verify
