<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appGroupId</key>
	<string>group.fr.gouv.btchap</string>
	<key>appLanguage</key>
	<string>fr</string>
	<key>serverUrlPrefix</key>
	<string>https://matrix.</string>
	<key>serverUrlDomain</key>
	<string>tchap.gouv.fr</string>
	<key>preferredIdentityServerNames</key>
	<array>
		<string>i.tchap.gouv.fr</string>
		<string>a.tchap.gouv.fr</string>
	</array>
	<key>otherIdentityServerNames</key>
	<array>
		<string>e.tchap.gouv.fr</string>
	</array>
	<key>pushGatewayURL</key>
	<string>https://matrix.org/_matrix/push/v1/notify</string>
	<key>pusherAppIdDev</key>
	<string>fr.gouv.btchap.ios.dev</string>
	<key>pusherAppIdProd</key>
	<string>fr.gouv.btchap.ios.prod</string>
	<key>pushKitAppIdProd</key>
	<string>fr.gouv.btchap.ios.voip.prod</string>
	<key>webAppUrlDev</key>
	<string>https://riot.im/develop</string>
	<key>webAppUrlBeta</key>
	<string>https://riot.im/beta</string>
	<key>webAppUrl</key>
	<string>https://riot.im/app</string>
	<key>matrixApps</key>
	<false/>
	<key>integrationsUiUrl</key>
	<string>https://scalar-staging.riot.im/scalar-web/</string>
	<key>integrationsRestUrl</key>
	<string>https://scalar-staging.riot.im/scalar/api</string>
	<key>showAllEventsInRoomHistory</key>
	<false/>
	<key>showRedactionsInRoomHistory</key>
	<false/>
	<key>showUnsupportedEventsInRoomHistory</key>
	<false/>
	<key>sortRoomMembersUsingLastSeenTime</key>
	<true/>
	<key>showLeftMembersInRoomMemberList</key>
	<false/>
	<key>syncLocalContacts</key>
	<false/>
	<key>createConferenceCallsWithJitsi</key>
	<true/>
	<key>enableRageShake</key>
	<false/>
	<key>maxAllowedMediaCacheSize</key>
	<integer>1073741824</integer>
	<key>bugReportEndpointUrl</key>
	<string>https://riot.im/bugreports</string>
	<key>bugReportApp</key>
	<string>riot-ios</string>
	<key>roomDirectoryServers</key>
	<array>
		<string>i.tchap.gouv.fr</string>
		<string>a.tchap.gouv.fr</string>
	</array>
</dict>
</plist>
